* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* slider */
.swiper-container {
  width: inherit;
  height: 390px;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* slider */

body {
  font-family: Inter;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 16px 0 50px 0px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 74px;
  margin-right: 30px;
}

.logo-content {}

.logo-title {
  font-weight: 800;
  font-size: 18px;
  color: #F50709;
  margin-bottom: 5px;
}

.logo-subtitle {
  font-weight: 200;
  font-size: 12px;
}

.menu {}

.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu-list__item:not(:last-child) {
  margin-right: 22.5px;
  padding-right: 22.5px;
  border-right: 1px solid #C80C0F;
}

.menu-link {
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  background-color: #C80C0F;
  padding: 7px 20px;
  border-radius: 5px;
  /* border: 1px solid transparent; */
}

.menu-link:hover {
  color: #000000;
  background: transparent;
  box-shadow: 0px 0px 8px 0px #0000004b;
}

.header-tel {
  font-weight: 500;
  font-size: 15px;
  margin-right: 60px;
  text-decoration: none;
  color: black;
}

.header-call {
  font-weight: 400;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #0000004f;
}

.header-call:hover {
  color: white;
  background-color: #C80C0F;
  cursor: pointer;
}

/* .header-tel:hover {
  color: #C80C0F;
  border-color: #C80C0F;
  cursor: pointer;
} */

/* bit-technika */
.bit-technika {
  margin-bottom: 50px;
}

.bit-technika__title {
  color: #FC0106;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.bit-technika__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bit-technika__content {
  width: 100%;
  background-color: #C80C0F;
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.bit-technika__contacts-box {
  width: 400px;
}

.bit-technika__contact:not(:last-child) {
  margin-bottom: 25px;
}

.bit-technika__contact-title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.bit-technika__contact-subtitle {
  font-weight: 200;
  font-size: 16px;
  color: #FFFFFF;
}

.bit-technika__img {
  width: 300px;
}

/* company */
.company {
  margin-bottom: 50px;
}

.company-mobyle {
  display: none;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.company-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
  letter-spacing: 1.05%;
}

.company-title--red {
  color: #FC0106;
}

.company-description {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.1%;
}

.company-description__img {
  display: none;
}

.company-map {
  width: 100%;
  height: 300px;
  min-height: -webkit-fill-available;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 8px 0px #0000003d;
}

.company__content {
  margin-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

/* contacts */
.contacts {}

.contacts__title {
  color: #FC0106;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

.contacts-title-block {
  background-color: #C80C0F;
  color: white;
  margin-bottom: 35px;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.05%;
  width: fit-content;
}

.contacts-box-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contacts-content {
  padding: 45px;
  box-shadow: 0px 0px 8px 0px #0000002e;
  list-style-type: none;
  margin-right: 20px;
  border-radius: 4px;
  min-width: 50%;
}

.dostavka-box-content {
  align-items: normal;
}

.contacts-content--w30 {
  width: 100%;
}

.contacts-content__item {
  display: flex;
  align-items: flex-start;
}

.contacts-content__item:not(:last-child) {
  margin-bottom: 35px;
}

.contacts-img {
  margin-right: 45px;
  width: 35px;
  height: 35px;
}

.contacts-item-content__title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.1%;
  color: #C80C0F;
  margin-bottom: 15px;
}

.contacts-item-content__description {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.1%;
  margin-bottom: 5px;
}

.dostavka-description {
  width: auto;
}


.contacts-item-content__description span {
  font-weight: 500;
  margin-right: 10px;
}

.red-round {
  display: block;
  background-color: #C80C0F;
  border-radius: 50%;
  min-width: 5px;
  min-height: 5px;
}

.contacts-item-content__description {
  display: flex;
  align-items: center;
}

.dostavka-item {
  height: 100%;
}

.dostavka-content {
  height: 100%;
}

.dostavka-title {
  margin-bottom: 50px;
}

.dostavka-list {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* catalog-tovars-list */

.main-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-catalog .container {
  display: flex;
  align-items: flex-start;
}

.catalog-tovar-and-uslugy {
  width: 100%;
}

.catalog-tovar-and-uslugy-title-block {
  padding: 15px 25px;
  background-color: #C80C0F;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-bottom: 50px;
}

.catalog-tovar-and-uslugy__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-tovar-and-uslugy__title span {
  display: block;
  width: 75%;
  height: 1px;
  background-color: white;
  box-shadow: 0px 0px 8px 7px #ffffff30;
}

.catalog-tovar-and-uslugy__subtitle {
  font-weight: 400;
  font-size: 20px;
}

.catalog-tovars-list {
  min-width: 23%;
  margin-right: 15px;
  box-shadow: 0px 0px 8px 0px #0000002e;
  padding: 20px;
  border-radius: 5px;
}

.catalog-tovars-list__title {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 100%;
  /* border: 1px solid #000000; */
  /* width: fit-content; */
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #C80C0F;
  color: white;
  border-radius: 5px;
}

.catalog-menu-list {
  list-style-type: none;
  overflow-y: auto;
  height: fit-content;
  scrollbar-color: red transparent;
}

.catalog-menu-list__item {
  font-size: 15px;
  font-weight: 300;
}

.catalog-menu-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.catalog-in-menu-list__link {
  text-decoration: none;
  color: black;
}

.catalog-in-menu-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-in-menu-list {
  margin-top: 18px;
  margin-bottom: 18px;
  list-style-type: none;
  padding: 0 0 0 18px;
  display: none;
}

.catalog-2in-menu-list {
  display: none;
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
}

.catalog-in-link {
  font-size: 15px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.catalog-2in-link {
  font-size: 15px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.catalog-2in-menu-list__item:not(:last-child) {
  margin-bottom: 15px;
  display: block;
}

.catalog-2in-link:hover {
  border-color: black;
}

.catalog-in-menu-list--active {
  display: block;
}

.catalog-in-menu-list__img {
  margin-right: 10px;
}

.catalog-menu-list__img {
  margin-right: 10px;
}

.catalog-menu-list__img--active {
  transform: rotate(90deg);
  transition: 0.3s;
}


/* catalog-tovar-and-uslugy-list */

.catalog-tovar-and-uslugy-list {

}

.catalog-tovar-and-uslugy-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  box-shadow: 4px 4px 8px 0px #0000004d;
  box-shadow: 4px 4px 8px 0px #0000002e;
  padding: 20px 30px 20px 0px;
  border-radius: 5px;
  transition: 0.2s;
}

.catalog-tovar-and-uslugy-list__item:hover {
  box-shadow: 4px 4px 18px 2px #00000029;
  transform: scale(1.01);
}

.tovar-item {
  display: flex;
  align-items: center;
}

.tovar-item__mobyle {
  display: none;
}

.tovar-item__img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin-right: 20px;
  object-fit: contain;
}

.tovar-item__title {
  color: #C80C0F;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
}

.tovar-item__description {
  font-weight: 300;
  font-size: 15px;
}

.tovar-price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tovar-price {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1.05%;
}

.tovar-button {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: #C80C0F;
  text-decoration: none;
  border-radius: 5px;
}

.tovar-button:hover {
  background-color: #950c0e;
  color: white;
}

/* tovar */

.tovar-section {
  width: 100%;
  padding-bottom: 50px;
}

.tovar-section-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.05%;
  color: #C80C0F;
  margin-bottom: 26px;
  text-align: center;
}

.tovar-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tovar-section-box_img {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  margin-right: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tovar-section__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tovar-content {
  padding: 40px 40px;
  box-shadow: 0px 0px 8px 0px #0000002e;
  border-radius: 5px;
}

.tovar-content__price {
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.05%;
  margin-bottom: 21px;
  text-align: center;
}

.tovar-content__button {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
  border: none;
  background-color: #C80C0F;
  cursor: pointer;
  color: white;
}

.tovar-content__button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 8px 0px #0000004b;
}

.tovar-content__title {
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.05%;
  margin-bottom: 10px;
  display: none;
}

.tovar-content__description {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.05%;
}

p.tovar-content__description:not(:last-child) {
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* mobyle blocks display:none */
.bit-technika__box-mobyle {
  display: none;
}

.burger {
  flex-direction: column;
  /* width: 15px; */
  display: none;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: #C80C0F;
}

.burger span:not(:last-child) {
  margin-bottom: 3px;
}

.catalog-burger {
  display: none;
  flex-direction: column;
  /* width: 15px; */
  margin-right: 20px;
}

.catalog-burger span {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
}

span.catalog-burger__small-span {
  width: 80%;
}

.tovar-content__mobyle {
  display: none;
}

.catalog-menu-list-item__box:hover {
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.call-modal {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #000000bf;
  align-items: center;
  justify-content: center;
  display: none;
}

.call-modal--active {
  display: flex;
}

.call-modal__container {
  padding: 30px 15px;
  padding-bottom: 50px;
  background-color: white;
  width: 450px;
  position: relative;
}

.call-modal__title {
  text-align: center;
  color: #C80C0F;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.call-modal__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  display: none;
}

.call-modal__input {
  color: #C80C0F;
  font-size: 15px;
  font-weight: 100;
  padding: 12px 20px;
  border: 1px solid #C80C10;
}

.call-modal__input::placeholder {
  color: #C80C0F;
}

.call-modal__input:focus {
  outline: none;
}

.call-modal__button {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 30px;
  background-color: #C80C10;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.call-modal__text {
  font-weight: 200;
  font-size: 10px;
}

.call-modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 95%;
  margin-bottom: 5px;
  cursor: pointer;
}
 
.call-modal__close:hover span {
  background-color: white;
  border: 1px solid #eb0408;
}

.call-modal__close span {
  width: 15px;
  position: absolute;
  background-color: #C80C0F;
  height: 3px;
  display: block;
}


.call-modal__close span:first-child {
  transform: rotate(45deg);
}


.call-modal__close span:last-child {
  transform: rotate(-45deg);
}

.tovar-item__content {
  padding-right: 20px;
}

.tovar-price {
  white-space: nowrap;
}

.call-modal-text__tel {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.call-modal-text__tel:hover {
  border-color: black;
}

.slide-main {
  width: 100%;
  height: 100%;
  background-color: #C80C0F;
  color: white;
  padding: 50px 100px;
  text-align: left;
  border-radius: 10px;
}

.swiper-slide {
  background-color: #C80C0F;
}

.slide-main-title {
  font-size: 50px;
  width: 75%;
  margin-bottom: 30px;
  font-weight: 500;
}

.slide-box:not(:last-child) {
  margin-bottom: 20px;
}

.slide-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.slide-subtitle {
  font-size: 18px;
  font-weight: 300;
}

img.slider-img {
  position: relative;
  right: -1%;
  width: 550px;
  height: 90%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px #ffffff94;
}

.slider-slide-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-section {
  margin-bottom: 50px;
}

.slider-text {
  width: 70%;
  font-size: 45px;
  text-align: center;
  color: white;
  border-right: 1px solid;
  width: fit-content;
  margin: 0 auto;
  padding-right: 50px;
}

.slider-slide-box-shale {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.slider-img-shale {
  width: 750px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0px 0px 8px 0px #ffffff94;
}

.swiper-navigation-icon {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.473);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.548);
  background-color: rgba(255, 255, 255, 0.226);
}

.catalog-in-main__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.catalog-in-main__list-item {
  width: 15%;
  padding: 30px 10px 15px 10px;
  border-radius: 5px;
}

.catalog-in-main__list-item:hover {
  box-shadow: 0px 0px 8px 0px #00000024;
}

.catalog-in-main__list-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-in-main-list__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.catalog-in-main-list__title {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: black;
  margin-top: 15px;
}

.catalog-in-main {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .container {
    width: 350px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
  }

  .catalog-in-main__list {
    flex-wrap: wrap;
  }

  .catalog-in-main__list-item {
    width: 50%;
    margin-bottom: 10px;
  }

  .catalog-2in-menu-list {
    padding-right: 30px;
    padding-left: 20px;
  }

  .catalog-in-menu-list__img {
    margin: 0;
    margin-left: 10px;
  }

  .catalog-in-menu-list-item__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
  }

  .catalog-in-menu-list {
    padding-right: 50px;
  }

  .catalog-2in-link {
    display: block;
    font-size: 15px
  }

  .catalog-2in-link:hover {
    border-color: transparent;
  }

  .contacts__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contacts-title-block {
    font-size: 15px;
    padding: 5px 40px;
    margin-bottom: 23px;
  }

  .contacts-content {
    border: none;
  }

  .contacts-img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }

  .contacts-content__item {
    margin-bottom: 15px;
  }

  .contacts-content {
    padding: 20px 20px;
    margin-right: 0;
  }

  .contacts-content--w30 {
    margin-top: 10px;
  }

  .contacts-content__item:last-child {
    margin-bottom: 0;
  }

  .contacts-content__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .contacts-content__item:last-child {
    margin-bottom: 15px;
  }

  .contacts-item-content__description {
    line-height: 13px;
  }

  .red-round {
    /* display: none; */
  }

  .dostavka-title {
    margin-bottom: 5px;
  }

  .contacts-item-content__title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .contacts-item-content__description {
    font-size: 13px;
  }

  .company-map {
    width: 100%;
    margin: 0 auto;
    height: 250px;
  }

  .contacts-box-content .company-map {
    width: 100%;
    min-height: 250px;
    margin-top: 10px;
  }

  .contacts-content {
    width: 100%;
  }

  .contacts-item-content__description {
    width: auto;
  }

  .contacts-box-content {
    margin-bottom: 30px;
    flex-direction: column;
  }

  .dostavka-box-content {
    flex-direction: column;
  }

  .catatlog-mobyle {
    display: none;
  }

  .catalog-in-menu-list__link {
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    justify-content: space-between;
  }


  .catalog-menu-list-item__box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  .catalog-tovars-list__title {
    /* display: none; */
    align-items: center;
    font-size: 13px;
    margin-bottom: 30px;
    background-color: #C80C0F;
    padding: 7px 20px;
    color: white;
    border-radius: 5px;
    border: none;
  }

  .burger-menu--active .catalog-tovars-list__title {
    display: none;
  }

  .catalog-tovars-list__title .catalog-burger {
    display: none;
  }

  .catalog-tovars-list {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }

  .catalog-menu-list__item {
    display: block;
    font-size: 13px;
  }

  .catalog-menu-list {
    overflow: hidden;
  }

  .catalog-burger {
    display: flex;
  }

  .catalog-tovar-and-uslugy__title span {
    width: 45%;
  }

  .tovar-section-box_img {
    width: 100%;
    height: 310px;
    min-width: 100%;
    min-height: 310px;
    padding: 5px;
    margin: 0;
    margin-bottom: 11px;
  }

  /* .tovar-section__img {
    width: 100%;
    height: 310px;
    padding: 5px;
    margin: 0;
    margin-bottom: 11px;
  } */

  .catalog-tovars-list__mobyle {
    display: none;
  }

  .catalog-tovar-and-uslugy-title-block {
    padding: 10px 40px;
  }

  .catalog-tovar-and-uslugy__title {
    font-size: 15px;
  }

  .tovar-item {
    display: none;
  }

  .tovar-price-box {
    display: none;
  }

  .tovar-item__mobyle {
    display: block;
  }

  .tovar-item-mobyle__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tovar-price-box__mobyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tovar-price-box__mobyle {
    display: flex;
  }

  .catalog-tovar-and-uslugy-list__item {
    padding: 20px 30px;
  }

  .tovar-item__title {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .tovar-price {
    text-align: center;
    font-size: 15px;
  }

  .tovar-button {
    font-size: 10px;
  }

  .tovar-item__description {
    font-size: 12px;
  }

  .tovar-item__description:not(:last-child) {
    font-weight: 500;
    margin-bottom: 2.5px;
    padding-bottom: 2.5px;
  }

  .tovar-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog-tovar-and-uslugy__subtitle {
    font-size: 10px;
  }

  .heeader-buttons {
    display: flex;
    align-items: center;
  }

  .burger {
    display: flex;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding: 7px 25px;
    box-shadow: 0px 0px 5px 0px #0000004f;
  }

  .logo-img {
    width: 40px;
    height: 48px;
  }

  .logo-title {
    font-size: 15px;
  }

  .logo-subtitle {
    font-size: 8px;
  }

  .header-call {
    font-size: 8px;
    padding: 5px 10px;
    display: none;
  }

  .menu {
    display: none;
  }

  .header-tel {
    display: none;
  }

  .bit-technika__title {
    font-size: 18px;
  }

  .bit-technika__box {
    display: none;
  }

  .bit-technika__box-mobyle {
    display: flex;
  }

  .bit-technika__content {
    padding: 25px 20px;
  }

  .bit-technika__contacts-box {
    margin-right: 10px;
  }

  .bit-technika__contact-title {
    font-size: 10px;
  }

  .bit-technika__contact-subtitle {
    font-size: 10px;
  }

  .bit-technika__content-img {
    width: 150px;
    border-radius: 5px;
  }

  .company .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company {
    display: none;
  }

  .tovar-content-box {
    display: flex;
    flex-direction: column;
  }

  .tovar-content {
    display: none;
  }

  .tovar-content__mobyle {
    display: block;
  }

  .tovar-content-mobyle__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .tovar-content__price {
    margin-bottom: 0;
    font-size: 15px;
    margin-right: 20px;
  }

  .tovar-content__button {
    margin: 0;
    font-size: 13px;
    padding: 10px 20px;
  }

  .tovar-section-title {
    font-size: 15px;
  }

  .tovar-content__title {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .tovar-content__description {
    font-size: 10px;
  }

  .company-mobyle {
    display: block;
    padding: 0 20px;
  }

  .company__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .bit-technika {
    margin-bottom: 30px;
  }

  .company-title {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .company-description {
    font-size: 10px;
    display: flex;
    align-items: center;
    line-height: 13px;
  }

  .swiper-container {
    height: 250px;
  }

  .slide-main {
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slide-main-title {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .slider-slide-box {
    flex-direction: column-reverse;
  }

  img.slider-img {
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-text {
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: none;
    padding: 10px 10px 15px 10px;
    border-top: 1px solid;
    margin-top: 20px;
    padding-top: 10px;
  }

  img.slider-img-shale {
    width: 90%;
  }

  img.slider-img {
    border-radius: 0;
  }

  .slide-title {
    font-size: 11px;
  }

  .slide-subtitle {
    font-size: 9px;
  }

  .company-description__img {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 35px;
  }

  .company__map-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .company__map-box-img {
    width: 45px;
    height: 45px;
    margin-right: 35px;
  }

  .catalog-in-menu-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger-menu {
    width: 100%;
    padding: 10px;
    background-color: white;
    position: fixed;
    z-index: 40;
    overflow-y: scroll;
    height: 105vh;
  }

  .burger-menu--active {
    display: block;
  }

  .burger-menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .burger-menu__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
  }

  .burger-menu__close span {
    width: 15px;
    position: absolute;
    background-color: #C80C0F;
    height: 3px;
    display: block;
  }

  .burger-menu__close span:first-child {
    transform: rotate(45deg);
  }

  .burger-menu__close span:last-child {
    transform: rotate(-45deg);
  }

  .burger-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu-list__link {
    font-size: 13px;
    background: white;
    color: black;
    background: #C80C0F;
    color: #ffffff;
    padding: 8px 18px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #0000004f;
  }



  .burger-menu-list__item {
    margin-bottom: 0;  
  }

  .burger-menu-links-img {
    width: 50px;
    height: 50px;
    display: none;
  }

  .burger-menu__img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  .burger-menu__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* box-shadow: 0px 0px 5px 0px #0000002b; */
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .burger-menu-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .burger-menu-item img {
    width: 21px;
    height: 21px;
    margin-right: 15px;
  }

  .call-modal__container {
    width: 90%;
  }

  .call-modal__input {
    font-size: 10px;
  }

  .call-modal__button {
    font-size: 10px;
  }
}