* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 16px 0 50px 0px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 74px;
  margin-right: 30px;
}

.logo-content {}

.logo-title {
  font-weight: 800;
  font-size: 18px;
  color: #F50709;
  margin-bottom: 5px;
}

.logo-subtitle {
  font-weight: 200;
  font-size: 12px;
}

.menu {}

.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu-list__item:not(:last-child) {
  margin-right: 45px;
}

.menu-link {
  font-weight: 500;
  font-size: 15px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-tel {
  font-weight: 500;
  font-size: 15px;
  margin-right: 60px;
}

.header-call {
  font-weight: 300;
  font-size: 15px;
  border-radius: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

/* bit-technika */
.bit-technika {
  margin-bottom: 50px;
}

.bit-technika__title {
  color: #FC0106;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.bit-technika__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bit-technika__content {
  width: 100%;
  background-color: #C80C0F;
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.bit-technika__contacts-box {
  width: 400px;
}

.bit-technika__contact:not(:last-child) {
  margin-bottom: 25px;
}

.bit-technika__contact-title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.bit-technika__contact-subtitle {
  font-weight: 200;
  font-size: 16px;
  color: #FFFFFF;
}

.bit-technika__img {
  width: 300px;
}

/* company */
.company {
  margin-bottom: 50px;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.company__content {
  width: 47%;
  margin-right: 40px;
}

.company-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
  letter-spacing: 1.05%;
}

.company-title--red {
  color: #FC0106;
}

.company-description {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.1%;
}

.company-map {
  width: 500px;
  height: 320px;
  border-radius: 8px;
  border: 3px solid #093233;
}

/* contacts */
.contacts {}

.contacts__title {
  color: #FC0106;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

.contacts-title-block {
  background-color: #C80C0F;
  color: white;
  margin-bottom: 35px;
  padding: 24px 105px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.05%;
}

.contacts-box-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contacts-content {
  padding: 25px;
  border: 3px solid #093233;
  list-style-type: none;
  margin-right: 20px;
  border-radius: 8px;
  width: 70%;
}

.dostavka-box-content {
  align-items: normal;
}

.contacts-content--w30 {
  width: 41%;
}

.contacts-content__item {
  display: flex;
  align-items: flex-start;
}

.contacts-content__item:not(:last-child) {
  margin-bottom: 35px;
}

.contacts-img {
  margin-right: 45px;
  width: 35px;
  height: 35px;
}

.contacts-item-content__title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.1%;
  color: #C80C0F;
  margin-bottom: 5px;
}

.contacts-item-content__description {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.1%;
  width: 500px;
}

.dostavka-description {
  width: auto;
}


.contacts-item-content__description span {
  font-weight: 500;
  margin-right: 10px;
}

.red-round {
  display: block;
  background-color: #C80C0F;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.contacts-item-content__description {
  display: flex;
  align-items: center;
}

.dostavka-item {
  height: 100%;
}

.dostavka-content {
  height: 100%;
}

.dostavka-title {
  margin-bottom: 10px;
}

.dostavka-list {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-map {

}

/* catalog-tovars-list */

.main-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-catalog .container {
  display: flex;
  align-items: flex-start;
}

.catalog-tovar-and-uslugy {
  width: 100%;
}

.catalog-tovar-and-uslugy-title-block {
  padding: 15px 25px;
  background-color: #C80C0F;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.catalog-tovar-and-uslugy__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}

.catalog-tovar-and-uslugy__subtitle {
  font-weight: 400;
  font-size: 20px;
}

.catalog-tovars-list {
  min-width: 23%;
  margin-right: 15px;
}

.catalog-tovars-list__title {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 36px;
  margin-bottom: 15px;
}

.catalog-menu-list {
  list-style-type: none;
  overflow-y: auto;
  height: 500px;
  scrollbar-color: red transparent;
}

.catalog-menu-list__item {
  font-size: 15px;
  font-weight: 300;
}

.catalog-menu-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.catalog-in-menu-list__link {
  text-decoration: none;
  color: black;
}

.catalog-in-menu-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.catalog-in-menu-list {
  margin-top: 18px;
  margin-bottom: 18px;
  list-style-type: none;
  padding: 0 0 0 18px;
  display: none;
}

.catalog-in-menu-list--active {
  display: block;
}

.catalog-in-menu-list__img {
  margin-right: 10px;
}

.catalog-menu-list__img {
  margin-right: 10px;
}

.catalog-menu-list__img--active {
  transform: rotate(90deg);
  transition: 0.3s;
}


/* catalog-tovar-and-uslugy-list */

.catalog-tovar-and-uslugy-list {

}

.catalog-tovar-and-uslugy-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tovar-item {
  display: flex;
  align-items: center;
}

.tovar-item__img {
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.tovar-item__title {
  color: #C80C0F;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
}

.tovar-item__description {
  font-weight: 300;
  font-size: 15px;
}

.tovar-price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tovar-price {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1.05%;
}

.tovar-button {
  font-weight: 300;
  font-size: 15px;
  border: 2px solid #F50508;
  border-radius: 36px;
  padding: 10px 13px;
  text-align: center;
  color: black;
  text-decoration: none;
}

/* tovar */

.tovar-section {
  width: 100%;
}

.tovar-section-title {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 1.05%;
  color: #C80C0F;
  margin-bottom: 26px;
}

.tovar-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tovar-section__img {
  width: 400px;
  height: 400px;
  margin-right: 20px;
  border-radius: 30px;
}

.tovar-content {
  padding: 40px 20px;
  border: 2px solid #E3B3B3;
  border-radius: 5px;
}

.tovar-content__price {
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 1.05%;
  margin-bottom: 21px;
  text-align: center;
}

.tovar-content__button {
  font-weight: 300;
  font-size: 20px;
  padding: 6px 13px;
  border: 2px solid #F50508;
  border-radius: 36px;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

.tovar-content__title {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1.05%;
  margin-bottom: 10px;
}

.tovar-content__description {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.05%;
}

/* mobyle blocks display:none */
.bit-technika__box-mobyle {
  display: none;
}

.burger {
  flex-direction: column;
  width: 15px;
  display: none;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: #C80C0F;
}

.burger span:not(:last-child) {
  margin-bottom: 3px;
}

@media (max-width: 1200px) {
  .container {
    width: 350px;
  }

  .heeader-buttons {
    display: flex;
    align-items: center;
  }

  .burger {
    display: flex;
    margin-right: 15px;
  }

  .logo-img {
    width: 40px;
    height: 48px;
  }

  .logo-title {
    font-size: 15px;
  }

  .logo-subtitle {
    font-size: 8px;
  }

  .header-call {
    font-size: 8px;
    padding: 5px 10px;
  }

  .menu {
    display: none;
  }

  .header-tel {
    display: none;
  }

  .bit-technika__title {
    font-size: 18px;
  }

  .bit-technika__box {
    display: none;
  }

  .bit-technika__box-mobyle {
    display: flex;
  }

  .bit-technika__content {
    padding: 25px 20px;
  }

  .bit-technika__contacts-box {
    margin-right: 10px;
  }

  .bit-technika__contact-title {
    font-size: 10px;
  }

  .bit-technika__contact-subtitle {
    font-size: 10px;
  }

  .bit-technika__content-img {
    width: 150px;
    border-radius: 5px;
  }

  .company__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .company__content {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .company .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company-map {
    width: 140px;
    height: 100px;
  }

  .company-title {
    font-size: 10px;
    margin-right: 15px;
  }

  .company-description {
    font-size: 8px;
  }

  .company__map-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .company__map-box-img {
    width: 45px;
    height: 45px;
    margin-right: 35px;
  }
}